<ion-view view-title="Financial Reports" >

    <ion-tabs>


    	 <ion-tab title="Income Statement" href="#app/tab/incomeStatement">
            <ion-nav-view name="incomeStatementTab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Balance Sheet" href="#app/tab/balanceSheet">
           <ion-nav-view name="balanceSheetTab"></ion-nav-view>
        </ion-tab>



      <!--   <ion-tab title="Income Statement" href="#app/tab/incomeStatement">
            <ion-nav-view name="incomeStatementTab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Balance Sheet" href="#app/tab/balanceSheet">
            <ion-nav-view name="balanceSheetTab"></ion-nav-view>
        </ion-tab> -->

       
    </ion-tabs>
</ion-view>